<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385431766114-9f6dsq3s5abfd25ahj29af4entcinutb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385431766114-9f6dsq3s5abfd25ahj29af4entcinutb</string>
	<key>API_KEY</key>
	<string>AIzaSyBSYHa0jWb8S5bsO5Dne7tKcV6IsER5cII</string>
	<key>GCM_SENDER_ID</key>
	<string>385431766114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ishchik.deliveryApp</string>
	<key>PROJECT_ID</key>
	<string>deliverykursach</string>
	<key>STORAGE_BUCKET</key>
	<string>deliverykursach.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385431766114:ios:a7bec0d89b5ed99359bd3b</string>
	<key>DATABASE_URL</key>
	<string>https://deliverykursach.firebaseio.com</string>
</dict>
</plist>